/*  CORPS DE LA PAGE */
body{
    background-color: #F5F1E8; /* beige doux */
    color: #222222; /* noir doux */
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

/*  TITRE  */
.debut h1{
    background-color: #EAF2F8; /* bleu pâle */
    color: #1F3A5F; /* bleu marine */
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

/*  MENU  */
.menu ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.connexion {
    display: flex;     
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;     
}

.connexion li{
    list-style: none;
    flex: 1;               /* chaque li prend la même largeur */
    min-width: 150px;      /* largeur minimale pour ne pas rétrécir */
    max-width: 200px;      /* largeur maximale */
}
@media screen and (max-width: 1024px) {
    .connexion {
        flex-direction: column;  
        align-items: center;
    }
    /* largeur adaptée tablette */
    .connexion li {
        max-width: 80%;        
    }
}
/* largeur adaptée mobile */
@media screen and (max-width: 768px) {
    .connexion li {
        max-width: 90%;        
    }
}

.connexion a{
    width: 200px;
    text-decoration: none;
    padding: 14px 0;       
    font-size: 22px; 
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3A6EA5; 
    border-radius: 10px;
    display: block;
    text-align: center;   
}

.connexion a:hover,
.connexion a:focus{
    background-color: #2C4A6E;
    outline: 3px solid #FFD966; 
}

/*  DESCRIPTION  */
.description{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.description figure{
    width: 600px;
    border: 2px solid #333333;
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.des img{
    width: 100%;
    height: auto;
}

/* DESCRIPTION TEXTE  */
figcaption{
    font-size: 24px;
    font-weight: bold;
    color: #1F3A5F;
    background-color: #E8F0EB; /* vert clair */
    padding: 15px;
    margin-top: 10px;
}

/*  PIED DE AL PAGE - */
.pied{
    background-color: #EAF2F8;
    color: #1F3A5F;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
